.App {
  text-align: left;
  padding: 50px;
}

.photo-element {
  width: 70px;
  height: 70px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.PhotoList {
  display: flex;
}

.PhotoList >li {
  list-style: none;
}

.InputField >input {
  width: 100px;
}
